# IDE stuff
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/shedweek.iml
.idea/vcs.xml
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
schedweek.sqlite3
db.sqlite3-journal
